/*=====================================
=            Basic styling            =
=====================================*/
* {
   box-sizing: border-box;
}

html, body {
   width : 100%;
   height: 100%;
}

body {
  font-family     : 'Open Sans', sans-serif;
  color           : #2d2d2d;
  min-height      : 100vh;
  letter-spacing: 0.04em;
  line-height: 2em;
}

/*=====  End of Basic styling  ======*/

/**
 *
 * Flex box layout
 *
 */
body,
.container,
.wtd,
.to-do li,
.done li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


.container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wtd,
.to-do li,
.done li {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

body,
.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}


/**
 *
 * Mobile first
 *
 */
.container {
  padding: 1em;
}

.wtd {
  padding: 1em;
}

.wtd {
  background-color: #f1f1f1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.2em solid #d2d2d2;
  font-weight: 700;
  font-size: 1.2em;
}


input[type="text"] {
  display: none;
  letter-spacing: 0.04em;
  border: none;
  background-color: inherit;
  width: 80%;
}

input[type="text"]:hover,
input[type="text"]:focus {
  outline: none;
}

.container i {
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.to-do i,
.done i {
  opacity: 0.8;
}

.container i:hover {
  cursor: pointer;
  color: #d2d2d2;
}

.wtd i {
  font-size: 0.75em;
  background-color: white;
  padding: 0.8em;
  opacity: 1;
  border-radius: 8%;
}


.to-do,
.done {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;
}

label,
.to-do input[type="text"],
.done input[type="text"]
 {
  margin-right: auto;
  height: 2em;
}

.to-do i,
.done i {
  margin-right: 0.8em;
}

.to-do i:last-child,
.done i:last-child {
  margin-right: 0;
}

.to-do li,
.done li {
  border-bottom: 0.1em solid #d2d2d2;
  padding: 1em 0;
}

.done {
  margin-top: 2em;
  opacity: 0.4;
  text-decoration: line-through;
}

.done label {
  background-color: rgba(211, 72, 54,0.2);
}

@media only screen and (min-width: 700px) {
  body {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container {
    min-width: 700px;
  }
}